body{
    background: #F8F8F8;
    position: relative;
}
.main{
    position: absolute;
    width: 489px;
    height: 123px;
    left: 511px;
    top: 429px;
}
h1{
    position: absolute;
    width: 489px;
    height: 63px;
    left: calc(50% - 489px/2 - 0.5px);
    top: calc(50% - 63px/2 - 30.5px);
    
    font-family: Assistant;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 63px;
    
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    
    color: rgba(0, 0, 0, 0.9);
    
    text-shadow: 3px 0px 4px rgba(0, 0, 0, 0.25);
    
}
h6{
    position: absolute;
    width: 277px;
    height: 42px;
    left: calc(50% - 277px/2 - 0.5px);
    top: calc(50% - 42px/2 + 40px);
    
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #3F3F3F;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}